@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@font-face { font-family: 'logoskate'; src: url('/css/webfont/logoskate.eot?#iefix') format('embedded-opentype'), url('/css/webfont/logoskate.woff') format('woff'), url('/css/webfont/logoskate.ttf') format('truetype'), url('/css/webfont/logoskate.svg#logoskate') format('svg'); font-weight: normal; font-style: normal; }

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

html {
  height: 100%;
  cursor: none;
}

.img{
  width: 100%;
  height: 100%;
}


a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:focus {
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
}

::selection {
  background: var(--color-link);
  color:white;
}

::-moz-selection {
  background: var(--color-link);
  color:white;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/*.message{
	display: none !important;
}*/

.message {
	background: #000;
	color: #fbaf5d;
	padding: 0.5rem;
	margin: 0;
	text-align: center;
}
/* ____________________________________ 
/* ____________________________________ */

/** Body and preloading **/

	body {
		--color-text: #FAEC28;
		--color-text-alt: #232323;
		--color-bg: #232323;
		--color-link: #B465A8;
		--color-link-hover: #fff;
		--color-info: #B465A8;
		--color-slide-title: #fff;
		--color-slide-text: #fff;
		--color-arrow: #FAEC28;
		--color-arrow-hover: #232323;
		--color-content: #fff;
		font-family: 'Roboto Mono', dinosaur, 'logoskate',-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
		min-height: 100vh;
		width: 100vw;
		color: var(--color-slide-text);
		background-color: var(--color-bg);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

	}

	.xyd{
		width: 100vw;
		height: 100vh;
	}

	.js .loading {
		position: fixed;
		z-index: 100000;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #232323;
		transition: opacity 0.3s;
	}

	.js .loading--hide {
		pointer-events: none;
		opacity: 0;
	}

	.js .loading::after {
		content: '- - -';
		font-family: 'Roboto Mono', monospace;
		font-size: 1.5em;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		animation: animLoader 1s infinite alternate forwards;
	}

	@keyframes animLoader {
		0% {
			content: '- - -';
		}
		25% {
			content: 'd - -';
		}
		50% {
			content: '- - c';
		}
		75% {
			content: '- / -';
		}
		100% {
			content: 'd - c';
		}
	}
	@-moz-keyframes animLoader {
		0% {
			-moz-content: '- - -';
		}
		25% {
			-moz-content: 'х - -';
		}
		50% {
			-moz-content: '- - д';
		}
		75% {
			-moz-content: '- / -';
		}
		100% {
			-moz-content: 'д - х';
		}
	}
	@-o-keyframes animLoader {
		0% {
			-o-content: '- - -';
		}
		25% {
			-o-content: 'х - -';
		}
		50% {
			-o-content: '- - д';
		}
		75% {
			-o-content: '- / -';
		}
		100% {
			-o-content: 'д - х';
		}
	}
	@keyframes animLoader {
		0% {
			content: '- - -';
		}
		25% {
			content: 'х - -';
		}
		50% {
			content: '- - д';
		}
		75% {
			content: '- / -';
		}
		100% {
			content: 'д - х';
		}
	}


/** Cursor, buttons and icons **/
	.icon {
		display: block;
		width: 1.5em;
		height: 1.5em;
		margin: 0 auto;
		fill: currentColor;
		pointer-events: none;
	}

	.icon-xyd{
		
		height: 100%;
	}

	.btn {
		border: none;
		background: none;
	}

	.btn:focus {
		outline: none;
	}

	.cursor__inner {
		z-index: 9999;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		mix-blend-mode: difference;
		border-radius: 50%;
	}

	.cursor__inner--dot {
		width: 6px;
		height: 6px;
		background: #fff;
	}

	.cursor__inner--circle {
		width: 20px;
		height: 20px;
		border: 1px solid #fff;
	}
/* ____________________________________ */
.frame {
		position: fixed;
		text-align: left;
		z-index: 1002;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100%;
		padding: 2rem;
		pointer-events: none;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title index'
							'links ...'
							'... ...';
	}
	.frame__links {
		z-index: 10000;
		grid-area: links;
		text-align: center;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}
	.frame__links a {
		pointer-events: auto;
		margin: 1rem;
	}
	.frame__title-wrap {
		grid-area: title;
	}
	.index {
		grid-area: index;
		text-align: right;
		pointer-events: auto;
		justify-self: end;
	}
	.dropbtn{
		border: none;
  		outline: none;
  		color: var(--color-text);
  		background-color: inherit;
  		font-family: inherit;
 		margin: 0;
	}
	
	.index:hover .dropbtn, .dropbtn:focus {
  		background-color: inherit;
	}

	.dropdown-content {
		display: none;
  		grid-area: index;
		text-align: right;
		pointer-events: auto;
		justify-self: end;
		z-index: 10000;
		position: absolute;
		right: 0;

  		
	}

	.dropdown-content a {
  	float: none;
  	color: var(--color-link);
  	text-decoration: none;
  	display: block;
  	text-align: right;
  	margin: 1rem 0;
	}

	.dropdown-content a:hover {
  		color: :var(--color--text);
  		background-color: var(--color-bg);
	}

	.show {
	  	display: block;
	}	
/* ____________________________________ */
/* ____________________________________ */

/* Start page */

	.start-page{
		z-index: 1000;  
		position:relative;
		width:100%;
		height:100vh;
		background:url('../img/background/heros.gif') #c0c0c0 bottom left fixed no-repeat;
		/* background:url('../img/background/start-page.jpg') #c0c0c0 bottom center fixed no-repeat;*/
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	  
	}

	.start-page hr{
	  color: var(--color-content);
	  margin-top:1em;
	  background-color: black;
	  height: 3em;
	  width: 4.2em;
	  border:0;
	}


	.start-page .opacity{
	  position:absolute;
	  width:100%;
	  height:100%;
	  background:rgba(49,58,49,0.5);
	}

	.start-page .content{
	  position:relative;
	  width:70vw;
	  margin:0 auto;
	  height:100%;
	}

	.start-page .content .text{
	  position:absolute;
	  text-align:center;
	  margin:auto;
	  top:0; 
	  left:0; 
	  bottom:0; 
	  right:0;
	  width:70vw;
	  height:80vh;
	}

	.start-page .content .text .logo{
	  width:5vw ;
	  height:5vh;
	  margin:0 auto 8em;
	}

	.start-page .content .text p{
	  color: var(--color-content);
	}

	.start-page .content .text .read-more{
		z-index: 10000;
	  width:19em;
	  height:4.2em;
	  margin:7em auto;
	  line-height:4.2em;
	  color:var(--color-text);
	  display:block;
	  font-size:9pt;
	  letter-spacing:7pt;
	  border-bottom: 1px solid white;
	  background:none;
	  -webkit-transition: all 0.6s ease-in;
		-moz-transition: all 0.6s ease-in;
		-ms-transition: all 0.6s ease-in;
		-o-transition: all 0.6s ease-in;
		transition: all 0.6s ease-in;
	}

	.start-page .content .text .read-more:hover{
	  color:white;
	  border-top: 1px solid white;
	}
/* ____________________________________ */
/* ____________________________________ */
/* ____________________________________ */

/** Inner Page **/
	.mode--code,
	.menu--code .menu__link {
		font-family: 'Roboto Mono', monospace;
		text-transform: lowercase;
		color: #e04643;
	}

	.menu {
		font-size: 1.85em;
		flex: none;
		width: 100%;
		margin: 2em 0 0 auto;
		text-align: right;
	}

	.menu__inner {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.menu--code {
		font-size: 1em;
		flex: none;
		width: 100%;
		margin: auto 0 2em 0;
		text-align: left;
	}

	.menu:not(.menu--code) .menu__item {
		position: relative;
	}

	.menu__item:not(:last-child) {
		margin: 0 0 0.25em 0;
	}

	.js .menu--code {
		display: none;
	}

	.menu__link {
		display: inline-block;
	}

	.menu--code .menu__link:hover {
		color: #fff;
	}

	.content__bottom {
		display: flex;
		align-items: center;
		width: 100%;
		margin: auto 0 0 0;
	}

	.switch {
		position: relative;
		display: flex;
		align-items: center;
	}

	.switch__content {
		display: flex;
	}

	.switch__item {
		line-height: 1;
		position: relative;
		display: inline-block;
		margin: 0 1.5em 0 0;
		padding: 0 0 0.15em;
		color: #585656;
	}

	.switch__item span {
		position: relative;
		display: inline-block;
		pointer-events: none;
	}

	.switch__item--current {
		pointer-events: none;
		color: #232323;
		background-color: #6dcc9e;
	}

	.mode--code .switch__item--current {
		color: #232323;
		background-color: #e04643;
	}

	.switch__item:first-child::after {
		content: '';
		position: absolute;
		top: -5%;
		left: calc(100% + 0.75em);
		width: 1px;
		height: 110%;
		background: #464646;
		transform: rotate(22.5deg);
	}

	.link-wrap {
		display: flex;
		align-items: center;
		height: 4em;
		margin: 0 0 0 auto;
	}

	.contact-link {
		display: inline-block;
		padding: 1em 0;
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: rgba(107, 87, 86, 0.22);
		opacity: 0;
	}

	
/* ____________________________________ */


/* Contact */

	.contact{
	  position:relative;
	  width:100%;
	  background-color: var(--color-bg);
	  z-index:1000;
	  overflow:hidden;
	  margin-bottom: 150px;  
	}


	.contact .content{
	  position:relative;
	  width:900px;
	  overflow:hidden;
	  margin: 60px auto 65px auto;
	}

	.contact h1{
	  font-size:34px;
	  color:black;
	  text-align:center;
	  margin-top:120px;
	  letter-spacing:6px;
	  font-weight:bold;
	  text-transform:uppercase;
	  line-height:1.2;
	}

	.contact hr{
	  color: black;
	  margin-top:30px;
	  background-color: black;
	  height: 1px;
	  width:106px;
	  border:0;
	}

	.contact .content .form{
	  width:455px;
	  overflow:hidden;
	  height:auto;
	  float:left;
	}

	.contact .content .form .column{
	  width:275px;
	  overflow:hidden;
	  height:auto;
	  float:left;
	  letter-spacing:1px;
	  margin-bottom:30px;
	}

	.contact .content .form .column-2{
	  width:210px;
	  padding-left:60px;
	  overflow:hidden;
	  height:auto;
	  float:left;
	  letter-spacing:1px;
	  margin-bottom:30px;  
	}

	.contact .content .form .column-3{
	  width:450px;
	  overflow:hidden;
	  height:auto;
	  float:left;
	  letter-spacing:1px;
	}

	.contact .content .contact-text{
	  width:405px;
	  overflow:hidden;
	  height:auto;
	  font-weight:300;
	  float:left;
	  padding-left:40px;
	  color:black;
	  font-size:14px;
	  line-height:26px;
	}

	strong{
	  font-weight:700;

	}

	input{

	  width:180px;
	  height:40px;
	  background:#f8f7f7;
	  border-top:1px solid #333;
	  border-bottom:0;
	  border-left:0;
	  border-right:0;
	  color:#333;
	  font-weight:300;
	  line-height:40px;
	  padding-left:15px;
	  font-family: 'Lato', sans-serif;
	  font-size:14px;
	  margin-bottom:10px;
	}

	input:focus{background:#f4f4f4;}

	textarea{

	  width:420px;
	  height:150px;
	  border-top:1px solid #333;
	  border-bottom:0;
	  line-height:20px;
	  border-left:0;
	  border-right:0;
	  background:#f8f7f7;
	  color:#333;
	  font-weight:300;
	  padding:15px 0 0 15px;
	  font-family: 'Lato', sans-serif;
	  font-size:14px;
	  margin-bottom:10px;
	}

	textarea:focus{background:#f4f4f4;}


	input.submit{
	  width:100px;
	  height:34px;
	  float:right;
	  margin:20px 10px 0 0;
	  border:0;
	  font-weight:700;
	  text-align:right;
	  background:none;
	  -webkit-transition: all 0.6s ease-in;
		-moz-transition: all 0.6s ease-in;
		-ms-transition: all 0.6s ease-in;
		-o-transition: all 0.6s ease-in;
		transition: all 0.6s ease-in;
	}

/* Footer */


	.footer{
	  position:fixed;
	  bottom:0;
	  width:100%;
	  background:#232323;
	  z-index: 10;
	}

	.footer .logo{

	  position:relative;
	  width:58px;
	  height:58px;
	  margin: 0 auto;
	  padding-top:0px;

	}

	.footer .menu-footer{
	  width:80%;
	  text-align:center;
	  margin:0 auto;
	  padding-top:30px;
	  overflow: hidden;
	  position:relative;  
	}


	.footer .menu-footer a{
	  line-height:46px;
	  padding:10px;
	  color:#a4a4a4;
	  -webkit-transition: all 0.2s ease-in;
		-moz-transition: all 0.2s ease-in;
		-ms-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}

	.footer .menu-footer a:hover{
	  color:#ada074;
	}


	.footer .copyright{
	  width:80%;
	  position:relative;
	  font-weight:300;
	  margin:0 auto;
	  padding:30px 0 50px;
	  text-align:center;
	  font-size:14px;
	  line-height:36px;
	  color:#a4a4a4;
	}
/* ____________________________________ */
/*Story Notes Commission*/


@media only screen and (min-width: 53em) {
/* Start page */
	.start-page{
	background-position: center center;}
/* ____________________________________ */


/** Inner Page **/
/* ____________________________________ */


	

	
}


@media only screen and (max-width: 53em) {
/* Start page */
	.start-page{
	background-position: center center;}

	.start-page .content .text .logo{
		margin-bottom: 0;
	}
	.start-page .content .text h1{
		margin-top: 2em;
	}
	.start-page .content .text .read-more{
		margin: auto;
	}
	
/* ____________________________________ */

	


/** Inner Page **/
/* ____________________________________ */
	.xyd{
		width: 100vw;
		height: 100vh;
	}
	.content__top {

		font-size: 0.5em;
		position: fixed;
		right: 10vw;
		top: 5vh;
	}
	.content__bottom {
		width: 100vw;
		font-size: 0.85em;
	}
	.menu {
		font-size: .88em;
		position: relative;
		width: 100vw;
		left: 5vw;
		overflow: hidden;
	}

	.menu-inner {
		font-size: 1.2em;
		position: relative;
		width: 100vw;
		padding: 5em 5em;
		overflow: hidden;
	}

	.content__bottom{
		width: 100vw;
		position: relative;
    bottom: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;
	}
	.link-wrap{
		align-items: : right;
	}
	.workshop{
	display:  none;
	}
	.switch{
	display: block;
	}
	.menu__item:not(:last-child) {
    margin: 7px 12px 0.25em 0px;
    
	}
	.menu__item-xyd(:last-child) {
    color: var(--color-info);
	}
	.menu__link span{
		max-width: 275px;
		font-size: 20px;
	}
	.contact-link{
		padding: 1em 0 1em 5em;
	}

	br{
		visibility: hidden;
	}
	
    .contact-form{
    	background-color: var(--color-bg);
    	width: 75%;
    }


	
}	
